


<div class="header"> 
  <a href="/dashboard"  class="previous round">&#8249;</a> 
  <h1 class="centered-title">Tasks To Do</h1> 
  <div class="search-box"> 
    <input type="number" placeholder="Search" (input)="onSearch()" [(ngModel)]="search"> 
  </div> 
</div>


<!-- Add New Task Form -->
<div class="add-task">
  <div class="column">
    <div>
  <h4>Add New Task</h4>
    </div>

  <div> 
  <form (submit)="addTask()" [formGroup]="taskForm" class="taskForm" >
    <div class="form-group">
    <!-- <input type="number" placeholder="Id" name="taskid" [(ngModel)]="taskID" required> -->
    
    <input type="text" placeholder="Title" name="title" [(ngModel)]="title" formControlName="title">
    

    <input type="text" placeholder="description" name="description" [(ngModel)]="description" formControlName="description">
 

    <input type="date" placeholder="due Date" name="duedate" [(ngModel)]="dueDate" formControlName="duedate">
    <div class="valid" *ngIf="taskForm.controls.duedate.invalid && taskForm.controls.duedate.touched">
      Invalid </div>
    
    <select class="status" name="status" [(ngModel)]="status" formControlName="status" >
      <option value="" disabled  selected >--Select Status--</option>
      <option value="In progress">In Progress</option>
      <option value="Deferred">Deferred</option>
    </select>
   
    <input type="number" placeholder="Priority" name="priority" [(ngModel)]="priority" formControlName="priority">&nbsp;
    <div class="valid" *ngIf="taskForm.controls.priority.invalid && taskForm.controls.priority.touched">
      Invalid </div>
  
    <select class="userId"name="assignedto" [(ngModel)]="userID" required >
      <option value=""disabled  selected >Select Assigned To</option>
      <option *ngFor="let id of userIds" [value]="id">{{ id }}</option>
    </select>
    
    
    <button type="submit" class="add"  (click)="addTask()">Add Task</button></div>
  </form>
  </div>
  </div>
</div>
&nbsp;
<button (click)="filter()">Sort by priority</button>&nbsp;&nbsp;
<button (click)="tasksPriority()">Auto Sort</button><br><br>

<!-- Task Table -->
<table *ngIf="showTable"class="table table-striped table-light">
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>DUE DATE</th>
      <th>STATUS</th>
      <th>PRIORITY</th>
      <th>ASSIGNED TO</th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskID }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate }}</td>
      <td>    
        <select  [(ngModel)]="task.status" >
        <option value="In progress" >In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Deferred">Deferred</option>
        </select>
      
      </td>
      <td>{{ task.priority }}</td>
      <td>{{task.userID.userID}}</td> 
      <td><button (click)="updateStatus(task.taskID,task.status)">Update</button></td>
      <td><button type="submit" (click) ="onDelete(task.taskID)">Delete</button></td>
    </tr>
  </tbody>
</table>

<table *ngIf="!showTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Assigned To</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of searchedTasks">
      <td>{{ task.taskID }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate }}</td>
      <td>    
        <select  [(ngModel)]="task.status">
        <option value="In progress" >In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Deferred">Deferred</option>
        </select>&nbsp;
      <button (click)="updateStatus(task.taskID,task.status)">update</button>
      </td>
      <td>{{ task.priority }}</td>
      <td>{{task.userID.userID}}</td> 
      <td><button type="submit" (click) ="onDelete(task.taskID)">Delete</button></td>      
    </tr>
  </tbody>
</table>



