<!-- Add New Task Form -->
<!-- <div class="add-task">
    <div class="column">
      <div>
    <h4>Add New Task</h4>
      </div>
  
    <div> 
    <form (submit)="addTask()">
      <input type="number" placeholder="Id" name="taskid" [(ngModel)]="taskID" required>
      <input type="text" placeholder="Title" name="title" [(ngModel)]="title" required>
      <input type="text" placeholder="description" name="description" [(ngModel)]="description" required>
      <input type="date" placeholder="due Date" name="duedate" [(ngModel)]="dueDate" required>
      <select class="status" name="status"  placeholder="Status"[(ngModel)]="status" required>
        <option value="">Select Status</option>
        <option value="in progress">In Progress</option>
        <option value="completed">Completed</option>
        <option value="deferred">Deferred</option>
      </select>
      <input type="number" placeholder="Priority" name="priority" [(ngModel)]="priority" required>
      <input type="number" placeholder="Assigned To(userId)" name="assignedto" [(ngModel)]="userID" required> -->
      <!-- <select name="assignedto" [(ngModel)]="userID" required> -->
        <!-- <option value="">Select Assigned To</option>
        <option *ngFor="let id of userIds" [value]="id">{{ id }}</option>
      </select> -->
      <!-- <button type="submit" class="add" (click)="addTask()">Add Task</button>
    </form>
    </div>
    </div>
  </div> -->
<h1>add task</h1>